* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    text-shadow: 3px 2px rgba(156, 156, 156, 0.301);
  }
  
  h1 {
      padding: 0;
      margin-bottom: 0;
  }

  p {
      font-size: 18px;
  }

  input {
    content: 'Second line text'; /* Text for second line of button */
    display: block; /* Puts this text on its own line */
    font-size: 20px;
    margin-top: 5px; /* Add distance from first line of text */
    font-weight: normal; /* Remove bold style */
    line-height: 2;
    height: 50px;
    width: 220px;
    border: 4px solid rgba(201, 200, 200, 0.836);
    border-radius: 5px;
    background-color: rgba(243, 236, 228, 0.836);
  }
  
  input:hover {
    border: 4px solid white;
    border-radius: 5px;
    font-style: oblique;
    font-size: 22px;
  }
  
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hidden {
    display: none;
  }
  
  .results-img {
    cursor: pointer;
  }
  